<web-app>
  <servlet>
    <servlet-name>Login</servlet-name>
    <servlet-class>sep.servlets.Login</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Logout</servlet-name>
    <servlet-class>sep.servlets.Logout</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Index</servlet-name>
    <servlet-class>sep.servlets.Index</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>CreateEPR</servlet-name>
    <servlet-class>sep.servlets.CreateEPR</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>WorkItemListEPR</servlet-name>
    <servlet-class>sep.servlets.WorkItemListEPR</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>GetEPR</servlet-name>
    <servlet-class>sep.servlets.GetEPR</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>CreateRR</servlet-name>
    <servlet-class>sep.servlets.CreateRR</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>WorkItemListRR</servlet-name>
    <servlet-class>sep.servlets.WorkItemListRR</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>GetRR</servlet-name>
    <servlet-class>sep.servlets.GetRR</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>CreateFR</servlet-name>
    <servlet-class>sep.servlets.CreateFR</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>WorkItemListFR</servlet-name>
    <servlet-class>sep.servlets.WorkItemListFR</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>GetFR</servlet-name>
    <servlet-class>sep.servlets.GetFR</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>CreateTaskPM</servlet-name>
    <servlet-class>sep.servlets.CreateTaskPM</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>TaskList</servlet-name>
    <servlet-class>sep.servlets.TaskList</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>GetTask</servlet-name>
    <servlet-class>sep.servlets.GetTask</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>CreateCRD</servlet-name>
    <servlet-class>sep.servlets.CreateCRD</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>WorkItemListCRD</servlet-name>
    <servlet-class>sep.servlets.WorkItemListCRD</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>GetCRD</servlet-name>
    <servlet-class>sep.servlets.GetCRD</servlet-class>
  </servlet>
  

  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/Login</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Logout</servlet-name>
    <url-pattern>/Logout</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Index</servlet-name>
    <url-pattern>/IndexCSO</url-pattern>
  </servlet-mapping>
    <servlet-mapping>
    <servlet-name>Index</servlet-name>
    <url-pattern>/IndexSCSO</url-pattern>
  </servlet-mapping>
    <servlet-mapping>
    <servlet-name>Index</servlet-name>
    <url-pattern>/IndexFM</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Index</servlet-name>
    <url-pattern>/IndexAM</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Index</servlet-name>
    <url-pattern>/IndexHR</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Index</servlet-name>
    <url-pattern>/IndexPM</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Index</servlet-name>
    <url-pattern>/IndexProdSubteam</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Index</servlet-name>
    <url-pattern>/IndexServSubteam</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Index</servlet-name>
    <url-pattern>/IndexSM</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CreateEPR</servlet-name>
    <url-pattern>/CreateEPR</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>WorkItemListEPR</servlet-name>
    <url-pattern>/WorkItemListEPR</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GetEPR</servlet-name>
    <url-pattern>/GetEPR</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CreateRR</servlet-name>
    <url-pattern>/CreateRR</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>WorkItemListRR</servlet-name>
    <url-pattern>/WorkItemListRR</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GetRR</servlet-name>
    <url-pattern>/GetRR</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CreateFR</servlet-name>
    <url-pattern>/CreateFR</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>WorkItemListFR</servlet-name>
    <url-pattern>/WorkItemListFR</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GetFR</servlet-name>
    <url-pattern>/GetFR</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CreateTaskPM</servlet-name>
    <url-pattern>/CreateTaskPM</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>TaskList</servlet-name>
    <url-pattern>/TaskListProd</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GetTask</servlet-name>
    <url-pattern>/GetTaskProd</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CreateCRD</servlet-name>
    <url-pattern>/CreateCRD</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>WorkItemListCRD</servlet-name>
    <url-pattern>/WorkItemListCRD</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GetCRD</servlet-name>
    <url-pattern>/GetCRD</url-pattern>
  </servlet-mapping>
  
  
  <filter>
    <filter-name>AuthCSO</filter-name>
    <filter-class>sep.filters.AuthCSO</filter-class>
  </filter>
  <filter>
    <filter-name>AuthSCSO</filter-name>
    <filter-class>sep.filters.AuthSCSO</filter-class>
  </filter>
  <filter>
    <filter-name>AuthFM</filter-name>
    <filter-class>sep.filters.AuthFM</filter-class>
  </filter>
  <filter>
    <filter-name>AuthAM</filter-name>
    <filter-class>sep.filters.AuthAM</filter-class>
  </filter>
  <filter>
    <filter-name>AuthHR</filter-name>
    <filter-class>sep.filters.AuthHR</filter-class>
  </filter>
  <filter>
    <filter-name>AuthPM</filter-name>
    <filter-class>sep.filters.AuthPM</filter-class>
  </filter>
  <filter>
    <filter-name>AuthProdSubteam</filter-name>
    <filter-class>sep.filters.AuthProdSubteam</filter-class>
  </filter>
  <filter>
    <filter-name>AuthSM</filter-name>
    <filter-class>sep.filters.AuthSM</filter-class>
  </filter>
  <filter>
    <filter-name>AuthServSubteam</filter-name>
    <filter-class>sep.filters.AuthServSubteam</filter-class>
  </filter>
  <filter>
    <filter-name>AuthWorkItemListEPR</filter-name>
    <filter-class>sep.filters.AuthWorkItemListEPR</filter-class>
  </filter>
  <filter>
    <filter-name>AuthRR</filter-name>
    <filter-class>sep.filters.AuthRR</filter-class>
  </filter>
  <filter>
    <filter-name>AuthFR</filter-name>
    <filter-class>sep.filters.AuthFR</filter-class>
  </filter>
  <filter>
    <filter-name>AuthCRD</filter-name>
    <filter-class>sep.filters.AuthCRD</filter-class>
  </filter>


  <filter-mapping>
    <filter-name>AuthCSO</filter-name>
    <url-pattern>/CreateEPR</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>AuthCSO</filter-name>
    <url-pattern>/IndexCSO</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>AuthSCSO</filter-name>
    <url-pattern>/IndexSCSO</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>AuthFM</filter-name>
    <url-pattern>/IndexFM</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>AuthAM</filter-name>
    <url-pattern>/IndexAM</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>AuthHR</filter-name>
    <url-pattern>/IndexHR</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>AuthPM</filter-name>
    <url-pattern>/IndexPM</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>AuthProdSubteam</filter-name>
    <url-pattern>/IndexProdSubteam</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>AuthSM</filter-name>
    <url-pattern>/IndexSM</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>AuthServSubteam</filter-name>
    <url-pattern>/IndexServSubteam</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>AuthWorkItemListEPR</filter-name>
    <url-pattern>/WorkItemListEPR</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>AuthWorkItemListEPR</filter-name>
    <url-pattern>/GetEPR</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>AuthRR</filter-name>
    <url-pattern>/CreateRR</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>AuthHR</filter-name>
    <url-pattern>/WorkItemListRR</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>AuthWorkItemListEPR</filter-name>
    <url-pattern>/GetEPR</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>AuthHR</filter-name>
    <url-pattern>/GetRR</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>AuthFR</filter-name>
    <url-pattern>/CreateFR</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>AuthFM</filter-name>
    <url-pattern>/WorkItemListFR</url-pattern>
  </filter-mapping>
  <filter-mapping>
  	<filter-name>AuthFM</filter-name>
    <url-pattern>/GetFR</url-pattern>
  </filter-mapping>
  <filter-mapping>
  	<filter-name>AuthPM</filter-name>
    <url-pattern>/CreateTaskPM</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>AuthProdSubteam</filter-name>
    <url-pattern>/TaskListProd</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>AuthProdSubteam</filter-name>
    <url-pattern>/GetTaskProd</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>AuthCRD</filter-name>
    <url-pattern>/CreateCRD</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>AuthCRD</filter-name>
    <url-pattern>/WorkItemListCRD</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>AuthCRD</filter-name>
    <url-pattern>/GetCRD</url-pattern>
  </filter-mapping>
  
  
</web-app>  